* {
  margin: 0;
  padding: 0;
  color:white;
}
body{
  background: #222;
}
.light {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: rgb(183, 0, 83);
  align-items: center;
}
.dark {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: rgb(86, 0, 39);
  align-items: center;
}
.nav2 {
  display: flex;
  gap: 20px;
  align-content: center;
}
.bg {
  padding: 2px;
  border-radius:10px;
  color:rgb(3, 3, 3);
  background: rgb(253, 253, 253);
  font-size: 1.2rem;
}
button{
  margin:10px;
  font-size:2rem;
  padding:10px;
  color:#111
}