*{
  margin:0;
  padding:0;
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: rgb(0, 83, 0);
  align-items: center;
}
.nav2{
  display: flex;
  gap:20px;
  align-content: center;
}