.box{
    height: 50vh;
    width:50vh;
    background-color: brown;
}

.page1{
    height: 100vh;
    width:100%;
    background: #111;
}
.page2{
    height: 100vh;
    width:100%;
    background: #222;
}
.page3{
    height: 100vh;
    width:100%;
    background: #333;
}
